<div class="courses-area position-relative z-2 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-12 order-2 order-lg-1">
                <div class="courses-widget-area">
                    <div class="widget">
                        <h3 class="widget-title">Category</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="art">
                                    <label class="form-check-label" for="art">Art</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exercise">
                                    <label class="form-check-label" for="exercise">Exercise</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="software-development">
                                    <label class="form-check-label" for="software-development">Software Development</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="music">
                                    <label class="form-check-label" for="music">Music</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="material-design">
                                    <label class="form-check-label" for="material-design">Material Design</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="photography">
                                    <label class="form-check-label" for="photography">Photography</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Ratings</h3>
                        <ul class="ratings-list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="5star">
                                    <label class="form-check-label" for="5star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        5.0 (223 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="4star">
                                    <label class="form-check-label" for="4tar">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        4.0 (139 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="3star">
                                    <label class="form-check-label" for="3star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        3.0 (339 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="2star">
                                    <label class="form-check-label" for="2star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        2.0 (209 Reviews)
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="1star">
                                    <label class="form-check-label" for="1star">
                                        <i class='bx bxs-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        <i class='bx bx-star'></i>
                                        1.0 (159 Reviews)
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Instructors</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="salvatore-hardin">
                                    <label class="form-check-label" for="salvatore-hardin">Salvatore Hardin</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="jenny-wilson">
                                    <label class="form-check-label" for="jenny-wilson">Jenny Wilson</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="jackson-mcfarland">
                                    <label class="form-check-label" for="jackson-mcfarland">Jackson McFarland</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="fredrick-ramsey">
                                    <label class="form-check-label" for="fredrick-ramsey">Fredrick Ramsey</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="alina-smith">
                                    <label class="form-check-label" for="alina-smith">Alina Smith</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="sarah-taylor">
                                    <label class="form-check-label" for="sarah-taylor">Sarah Taylor</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Price</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="all">
                                    <label class="form-check-label" for="all">All</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="free">
                                    <label class="form-check-label" for="free">Free</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="paid">
                                    <label class="form-check-label" for="paid">Paid</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="widget-title">Levels</h3>
                        <ul class="list ps-0 mb-0 list-unstyled">
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="all-levels">
                                    <label class="form-check-label" for="all-levels">All Levels</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="beginner">
                                    <label class="form-check-label" for="beginner">Beginner</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="intermediate">
                                    <label class="form-check-label" for="intermediate">Intermediate</label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="expert">
                                    <label class="form-check-label" for="expert">Expert</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
            </div>
